{% extends "base.html" %} {% block title %}网络可视化展示平台{% endblock %} {% block main %}
<div class="titleblock" style="position:absolute;left:8%;right:8%;top:5%;bottom:85%;">
    <h2>Heavy change</h2>
</div>

<div class="block" id="block1" style="position:absolute;left:8%;right:8%;top:18%;bottom:46%">
    <div id="container1" style="position:absolute;left:5%;width:90%;top:5%;height:90%"></div>
</div>

<div class="block" id="block2" style="position:absolute;left:8%;right:8%;top:56%;bottom:8%">
    <div id="container2" style="position:absolute;left:5%;width:90%;top:5%;height:90%"></div>
</div>

<script>
    var formatter1 = function(params) {
        var str = params.marker + ' ' + params.name + '<br>';
        str += '　 <strong>ID: ' + params.data.ID + '　 Size: ' + params.value[1] + '</strong>';
        return str;
    }

    var optionBar1 = {
        tooltip: {
            trigger: 'item'
        },
        grid: [{
            left: '0%',
            right: '3%',
            top: '7%',
            bottom: '7%',
            containLabel: true
        }],
        dataZoom: [{
            type: 'inside',
            xAxisIndex: 0,
            fiterMode: 'filter',
            bottom: '15%',
            startValue: 0,
            endValue: 49
        }],
        xAxis: [{
            type: 'category',
            axisLine: {
                show: false,
            },
            gridIndex: 0
        }],
        yAxis: [{
            type: 'value',
            axisLine: {
                lineStyle: {
                    color: '#000'
                }
            },
            gridIndex: 0,
            scale: true
        }],
        series: [{
            name: 'Elephant',
            type: 'bar',
            xAxisIndex: 0,
            yAxisIndex: 0,
            tooltip: {},
            itemStyle: {
                barBorderRadius: [5, 5, 0, 0],
                shadowBlur: 5
            },
        }],
        graphic: [{
            type: 'text',
            top: '11%',
            right: '5%',
            z: 100,
            style: {
                text: '',
                fill: 'rgba(0, 0, 0, 0.9)',
                fontSize: 18,
                fontWeight: 'bold',
            }
        }]
    };

    var optionBar2 = {
        grid: [{
            left: '0%',
            right: '3%',
            top: '7%',
            bottom: '7%',
            containLabel: true
        }],
        xAxis: {
            type: 'category',
            boundaryGap: false
        },
        yAxis: {
            type: 'value'
        },
        series: [{
            type: 'line',
            areaStyle: {
                color: '#2ec7c9'
            },
            tooltip: {},
            smooth: true
        }]
    }

    var chartBar1 = echarts.init(document.getElementById("container1"), 'macarons');
    var chartBar2 = echarts.init(document.getElementById("container2"), 'macarons');

    var dataset;

    var setOptionData = function() {
        var optionTemp;
        optionTemp = JSON.parse(JSON.stringify(optionBar1));
        optionTemp.series[0].tooltip.formatter = formatter1;
        optionTemp.series[0].data = dataset.flow_data;
        chartBar1.clear();
        chartBar1.setOption(optionTemp);

        optionTemp = JSON.parse(JSON.stringify(optionBar2));
        optionTemp.series[0].tooltip.formatter = formatter1;
        optionTemp.series[0].data = dataset.total_data;
        chartBar2.clear();
        chartBar2.setOption(optionTemp);
    }

    var draw = function(data) {
        dataset = data;
        setOptionData();
    };

    window.onresize = function() {
        sidebarChart.resize();
        if (chartBar1)
            chartBar1.resize();
        if (chartBar2)
            chartBar2.resize();
    };
</script>
{% endblock %}